body {
  background-color: grey;
}
  .navbar {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-family: arial;
    font-size: 20px;
  }

  .navbar a {
    color:black;
    margin: 0 15px;
    text-decoration: none;
  }
  .name {
    text-align: center;
    font-size:100px;
    font-family: arial;
    color:azure;
    margin-top:100px;
  }
  .namee {
    text-align: center;
    font-family: arial;
    margin-top:50px;
    color:azure;
  }
  .animated-text {
    position: relative;
    animation-name: slideInFromTop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes slideInFromTop {
    0% {
      top: -50px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
  .animated-textt {
    position: relative;
    animation-name: slideInFromTop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes slideInFromTop {
    0% {
      top: -50px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
  .animated-texttt {
    position: relative;
    animation-name: slideInFromTop;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes slideInFromTop {
    0% {
      top: -50px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }

  .gambar {
    border-radius:80px;
    width:90%;
    margin-left:55px;
    cursor: pointer;
    margin-top:20px;
    transition: transform 1.5s ease;
  }
  .gambar:hover {
    transform: scale(1.02);
  }
  .nameee {
    text-align:center;
    color:azure;
    margin-top:-50px;
  }
  .gambarr {
    border-radius:80px;
    width:90%;
    margin-left:55px;
    height: 400px;
    cursor: pointer;
    margin-top:50px;
    transition: transform 1.5s ease;
  }
  .gambarr:hover {
    transform: scale(1.02);
  }
  footer {
    background-color: grey;
    color: #fff;
    padding: 20px;
    height:500px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:200px;
  }
  
  .footer-section {
    margin-left: 120px;
    flex-basis: 40%;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
  .footer-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
    text-decoration: none;
  }

  .footer-section a {
    text-decoration: none;
    color: white;
    transition: color 1s ease-in-out;
  }